body {
  font-family: 'Cutive', serif;
  background-color: #1f1f1f;
  color: white;
  margin-left: 100px;
  margin-right: 100px;
}
#page-wrapper {
  margin-left: 100px;
}

hr.solid {
  border-top: 1px solid #bbb;
  margin-left: 100px;
  margin-right: 100px;
}
.hero {
  /* border: 2px solid red; */
  background: url(../assets/hero2.gif);
  margin-left: 100px;
  font-size: 40px;
  height: 80vh;
  background-repeat: no-repeat;
}
#software-container-id  {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 60vh;
  margin: 100px;
}
i {
  /* border: 2px solid rgba(0,0,0,.125); */
  font-size: 60px;
  margin: 25px;
  padding: 10px;
}
.topnav {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.topnav, a {
  padding: 10px;
  margin-right: 40px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.about-wrapper {
height: 80vh;
line-height: 1.6;
}
.about-wrapper, .left-box {
  border: 2px solid red;
  width: 50%;
  /* margin: 20px; */
} 
.about-wrapper, .right-box {
  border: 2px solid red;
  /* width: 50%; */
} 

.project-wrapper {
  border: 2px solid red;
  /* width: 50%; */
  height: 80vh;
}
